<!DOCTYPE html>
<html lang="en", xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulair</title>
    <style type="text/css">
        span {
            display: inline-block ;
            width: 200px;
            text-align: left;
        }

    </style>
</head>
<body>
  <div align="center">
    <h1>formulaire</h1>
      <!--<span> Ville : </span> <span th:text="${form.fait}"></span><br>
      <span> Le : </span> <span th:text="${form.datecre}"></span><br>
      <span> Mr.(nom,prénom) : </span> <span th:text="${form.nom}"></span><br>
      <span> Fonction : </span> <span th:text="${form.fonction}"></span><br>
      -->



  </div>

</body>
</html>